@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    
}

.big-title{
    font-size: 3rem;
    text-align: center;

}

.cosmo {
    margin:0px;
    position: sticky;
    top:0;
    z-index: 10;
}

.main-site{
    margin: 100px 400px 100px 400px;
}